basic/basic-mq/src/main/resources/META-INF/basic.mq.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.howbuy.cc.basic/schema/basic-mq"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://com.howbuy.cc.basic/schema/basic-mq">

    <xsd:element name="mq-driven" type="mqType">
    </xsd:element>

    <xsd:complexType name="mqType">
        <xsd:attribute name="brokerUrl" type="xsd:string" use="required"/>
        <xsd:attribute name="afterTransactionSend" type="xsd:boolean" default="false" />
        <xsd:attribute name="maxConnections" type="xsd:string" default="8"/>
        <xsd:attribute name="maximumActiveSessionPerConnection" type="xsd:string" default="500"/>
        <xsd:attribute name="idleTimeout" type="xsd:string" default="30000"/>
        <xsd:attribute name="expiryTimeout" type="xsd:string" default="0"/>
        <xsd:attribute name="senderLog" type="xsd:string"/>
        <xsd:attribute name="listenerLog" type="xsd:string"/>
        <xsd:attribute name="redeliveryListener" type="xsd:string" default="false"/>
        <xsd:attribute name="initialRedeliveryDelay" type="xsd:string" default="5000"/>
        <xsd:attribute name="maximumRedeliveries" type="xsd:string" default="5"/>
    </xsd:complexType>

</xsd:schema>